# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/
src/staticfiles/

# Env files
.env

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Migrations cache
*/migrations/__pycache__/